<div class="card mt-3">
    <ul class="list-group list-group-flush d-flex flex-wrap">
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap flex-fill">
            <div class="d-flex">
                <p class="mb-0">
                    <i class="fa-solid fa-globe fa-xl" style="color: #000000;"></i>
                </p>
                <span class="text-secondary ml-2" id="socialWebsite">{{data_profile.user.Social.Web}}</span>
            </div>
            <div class="d-flex">
                <i class="fas fa-pencil-alt text-primary ml-3 cursor-pointer edit-icon" id="editSocialWebsite"></i>
                <i class="fas fa-check text-success ml-2 cursor-pointer save-icon d-none" id="saveSocialWebsite"></i>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex">
                <p class="mb-0">
                    <i class="fa-brands fa-github fa-xl" style="color: #000000;"></i>
                </p>
                <span class="text-secondary ml-2" id="socialGithub">{{data_profile.user.Social.GH}}</span>
            </div>
            <div class="d-flex">
                <i class="fas fa-pencil-alt text-primary ml-3 cursor-pointer edit-icon" id="editSocialGithub"></i>
                <i class="fas fa-check text-success ml-2 cursor-pointer save-icon d-none" id="saveSocialGithub"></i>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex">
                    <p class="mb-0">
                        <i class="fa-brands fa-telegram fa-xl" style="color: #0077FF;"></i>
                    </p>
                <span class="text-secondary ml-2" id="socialTelegram">{{data_profile.user.Social.TG}}</span>
            </div>
            <div class="d-flex">
                <i class="fas fa-pencil-alt text-primary ml-3 cursor-pointer edit-icon" id="editSocialTelegram"></i>
                <i class="fas fa-check text-success ml-2 cursor-pointer save-icon d-none" id="saveSocialTelegram"></i>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex">
                <p class="mb-0">
                    <i class="fa-brands fa-vk fa-xl" style="color: #0077FF;"></i>
                </p>
                <span class="text-secondary ml-2" id="socialVk">{{data_profile.user.Social.VK}}</span>
            </div>
            <div class="d-flex">
                <i class="fas fa-pencil-alt text-primary ml-3 cursor-pointer edit-icon" id="editSocialVk"></i>
                <i class="fas fa-check text-success ml-2 cursor-pointer save-icon d-none" id="saveSocialVk"></i>
            </div>
        </li>
    </ul>
</div>