/* XS устройства (телефоны) */
@media (max-width: 575.98px) {
    body {
        font-size: 14px; /* Пример: уменьшение размера шрифта для маленьких экранов */
    }

    .navbar {
        padding: 5px; /* Пример: уменьшение отступов в навигационной панели для маленьких экранов */
    }

    /* Другие стили для XS устройств */
}

/* SM устройства (планшеты) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-brand img {
        width: 30px; /* Пример: уменьшение размера логотипа в навигационной панели для планшетов */
        height: 30px;
    }

    /* Другие стили для SM устройств */
}

/* MD устройства (небольшие ноутбуки и планшеты) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .project-image {
        max-width: 200px; /* Пример: ограничение максимальной ширины изображения для устройств среднего размера */
    }

    /* Другие стили для MD устройств */
}

/* LG устройства (большие ноутбуки и десктопы) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Дополнительные стили для LG устройств */
}

/* XL устройства (очень большие дисплеи) */
@media (min-width: 1200px) {
    /* Дополнительные стили для XL устройств */
}
