<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><%= title_text %></title>
    <%- include('link.ejs') %>
    <style>
        .bs-icon {
            --bs-icon-size: .75rem;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            font-size: var(--bs-icon-size);
            width: calc(var(--bs-icon-size) * 2);
            height: calc(var(--bs-icon-size) * 2);
            color: var(--bs-primary);
        }

        .bs-icon-xl {
            --bs-icon-size: 2.5rem;
        }

        .bs-icon.bs-icon-primary {
            color: var(--bs-white);
            background: var(--bs-primary);
        }

        .bs-icon.bs-icon-primary-light {
            color: var(--bs-primary);
            background: rgba(var(--bs-primary-rgb), .2);
        }

        .bs-icon.bs-icon-semi-white {
            color: var(--bs-primary);
            background: rgba(255, 255, 255, .5);
        }

        .bs-icon.bs-icon-rounded {
            border-radius: .5rem;
        }

        .bs-icon.bs-icon-circle {
            border-radius: 50%;
        }


    </style>
</head>
<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
<div class="container d-flex justify-content-center align-items-center vh-100">
    <section>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Авторизация</h2>
                    <p class="w-lg-50">Авторизация — это ключ к вашим данным. Как бы просто она ни выглядела, за ней скрывается сложная система защиты вашей информации.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5">
                        <div id="authA" class="card-body d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"><svg class="bi bi-person" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                </svg></div>
                            <form class="text-center" method="post">
                                <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Пароль"></div>
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" onclick="sendReq()" type="button">Войти</button></div>
                                <a href="/forgot-password">
                                    <p class="text-muted">Забыли пароль?</p>
                                </a><a data-bs-toggle="tooltip" data-bs-placement="left" href="/register" title="Оно вам не надо">
                                    <p class="text-muted">Хотите зарегистрироваться?</p>
                                </a>
                            </form>
                        </div>
                        <div id="authF" class="card-body d-none  flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"><svg class="bi bi-person" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                </svg></div>
                            <input class="form-control-plaintext" type="text" value="Ну привет Адрей!" readonly="" style="text-align: center;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

</script>
</body>
<script>

</script>
<%- include('script.ejs') %>
<%- include('footer.ejs') %>
</html>